<?xml version="1.0"?>
<launch>
   <arg name="sim" default="false" />
  <arg name="limited" default="false"/>
  <arg name="debug" default="false" />
  <arg name="config" default="false" />
  <!-- Remap follow_joint_trajectory -->
  <remap from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>-

  <include file="$(find ur_modern_driver)/launch/ur3_bringup.launch">
    <arg name="robot_ip" default="192.168.1.2" />
  </include>

 <!-- Launch moveit -->
  <include file="$(find ur3_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
  
  <include file="$(find ur3_moveit_config)/launch/moveit_rviz.launch">
    <arg name="debug" default="$(arg debug)"/>
    <arg name="config" default="true"/>
  </include>

</launch>
